<h3> Lista de pokemons </h3>
<div class="form-group has-feedback">
    <input class="form-control" placeholder="Busca de pokemons" ng-model='busca'>
    <span class="glyphicon glyphicon-search form-control-feedback" ></span>
</div>

<progressbar ng-show='carregando' value="'70'" ></progressbar>

<div ng-hide='carregando'>
    <div class='panel panel-default col-md-3 col-xs-6'
            ng-repeat="pokemon in pokemons | filter: busca">
        <div class='panel-body'>
            <img ng-src='{{pokemon.img}}' class='pull-left' height="100px" ></img>
            <h4>#{{pokemon.id}}</h4>
            <h4>{{pokemon.name }}</h4>
            <a ui-sref='pokemon({ id: pokemon.id })' class='btn btn-primary'>
                Ver detalhes
            </a>
        </div>
    </div>
</div>
